body {
	height: 100%;
	margin: 0;
	background-color: #333;
}

.absolute,
.absolute * {
	position: absolute;
	top: 0;
	left: 0;
}

.inline * {
	position: relative;
	display: inline;
}

.relative * {
	position: relative;
}
