body {
	height: 100%;
	margin: 0;
	background-color: #333;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 18px;
}

.stretch {
	min-width: 100%;
	min-height: 100%;
}

.absolute,
.absolute * {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.inline * {
	position: relative;
	display: inline;
}

.relative * {
	position: relative;
}
